.photo5364177685145837991x1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.photo5364177685145837991x1-dummy-container {
  width: 100%;
  height: 900px;
}
.photo5364177685145837991x1-photo5364177685145837991x1 {
  width: 97px;
  height: 97px;
}
