.catalog.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
  }
  .catalog .testSection {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .catalog .flexRow {
    position: absolute;
    top: 179px;
    left: 27px;
    display: flex;
    align-items: center;
    gap: 0px 1px;
    width: 1371px;
    height: 836px;
  }
  .catalog .iconBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 636px;
    min-width: 0px;
    background: var(--src) center center/100% 100% no-repeat;
  }
  .catalog .iconImage {
    position: relative;
    margin: 0px auto 18px;
    width: 90.41%;
  }
  .catalog .infoBox {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 734px;
    min-width: 0px;
    background-color: rgba(255, 203, 60, 0.2);
  }
  .catalog .infoCol {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 79px 0px;
    margin: 28.5px 40px 80px 13.5px;
  }
  .catalog .headerTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 700 32px/0.62 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
  }
  .catalog .infoRows {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0px 23px;
    width: 100%;
  }
  .catalog .infoColumns {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 492.5px;
    min-width: 0px;
  }
  .catalog .personalityDisordersTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 5px;
    width: 342px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
  }
  .catalog .psychoticDisordersTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 47px 0px 0px 5.5px;
    width: 75.74%;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
  }
  .catalog .neuroticDisordersTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 53px 0px 0px 5px;
    width: 76.35%;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
  }
  .catalog .impulseControlDisordersTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 52px 0px 0px;
    width: 89.54%;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
  }
  .catalog .eatingDisordersTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 37px 0px 5.5px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
  }
  .catalog .developmentDisordersTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 47px 6.5px 0px 2px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
  }
  .catalog .childhoodDisordersTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 47px 0px 0px 5.5px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
  }
  .catalog .substanceDisordersTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 38px 0px 0px 4.5px;
    width: 73.3%;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
  }
  .catalog .actionsColumn {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 165px;
    min-width: 0px;
  }
  .catalog .viewButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 4px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    background-color: #ffcb3c;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 8px 5px 8px;
    letter-spacing: -0.31px;
  }
  .catalog .viewButton1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 42px 4px 0px 0px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    background-color: #ffcb3c;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 8px 5px 8px;
    letter-spacing: -0.31px;
  }
  .catalog .viewButton2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 42px 4px 0px 0px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    background-color: #ffcb3c;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 8px 5px 8px;
    letter-spacing: -0.31px;
  }
  .catalog .viewButton3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 4px 0px 0px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    background-color: #ffcb3c;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 8px 5px 8px;
    letter-spacing: -0.31px;
  }
  .catalog .viewButton4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 42px 0px 0px 4px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    background-color: #ffcb3c;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 8px 5px 8px;
    letter-spacing: -0.31px;
  }
  .catalog .viewButton5 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0px 0px 4px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    background-color: #ffcb3c;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 8px 5px 8px;
    letter-spacing: -0.31px;
  }
  .catalog .viewButton6 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 47px 0px 0px 4px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    background-color: #ffcb3c;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 8px 5px 8px;
    letter-spacing: -0.31px;
  }
  .catalog .viewButton7 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 42px 4px 0px 0px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    background-color: #ffcb3c;
    border-radius: 15px 15px 15px 15px;
    padding: 5px 8px 5px 8px;
    letter-spacing: -0.31px;
  }
  .catalog .sideCol {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px 0px;
    margin: 0px 0px 856px;
  }
  .catalog .sideContent {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
  .catalog .sideRow {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px 10px;
    margin: 0px auto;
    width: 90.94%;
  }
  .catalog .sideIcon {
    position: relative;
    width: 120px;
    min-width: 0px;
    height: 99px;
  }
  .catalog .sideRows {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    width: 1133.5px;
    min-width: 0px;
  }
  .catalog .sideRowContent {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    margin: 4px 0px 0px;
    width: 707.5px;
    min-width: 0px;
  }
  .catalog .homeTitle {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row: span 1;
      grid-column: span 1;
      font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
      color: black;
      text-align: center;
      letter-spacing: -0.31px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
    }
    @media (max-width: 991px) {
      .untitled-page .homeTitle {
        font-size: 22px;
      }
    }
    @media (max-width: 479px) {
      .untitled-page .homeTitle {
        font-size: 20px;
      }
    }
  .catalog .profileTitle {
    position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row: span 1;
      grid-column: span 1;
      font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
      color: black;
      text-align: center;
      letter-spacing: -0.31px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
    }
    @media (max-width: 991px) {
      .untitled-page .homeTitle {
        font-size: 22px;
      }
    }
    @media (max-width: 479px) {
      .untitled-page .homeTitle {
        font-size: 20px;
      }
  }
  .catalog .problemCatalogTitle {
    position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row: span 1;
      grid-column: span 1;
      font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
      color: black;
      text-align: center;
      letter-spacing: -0.31px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
    }
    @media (max-width: 991px) {
      .untitled-page .homeTitle {
        font-size: 22px;
      }
    }
    @media (max-width: 479px) {
      .untitled-page .homeTitle {
        font-size: 20px;
      }
  }
  .catalog .accountActions {
    position: relative;
    display: flex;
    gap: 0px 21px;
    margin: 0px 0px 1px;
    width: 315.5px;
    min-width: 0px;
  }
  .catalog .loginTitle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 3.5px;
    min-width: 0px;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
  }
  .catalog .registerTitle {
    position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      grid-row: span 1;
      grid-column: span 1;
      font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
      color: black;
      text-align: center;
      letter-spacing: -0.31px;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
    }
    @media (max-width: 991px) {
      .untitled-page .homeTitle {
        font-size: 22px;
      }
    }
    @media (max-width: 479px) {
      .untitled-page .homeTitle {
        font-size: 20px;
      }
  }
  .catalog .problemCatalogBox {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 1px;
    background-color: rgba(255, 203, 60, 0.2);
  }
  .catalog .problemCatalog {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px auto;
    font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
    color: black;
    text-align: center;
    letter-spacing: -0.31px;
  }

  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
    align-items: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.page-header {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.sticking {
    margin: 0 !important;
    z-index: 10000 !important;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .xxs\:show {
        display: none;
    }

    .tn\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
        flex-direction: column;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
        flex-direction: column;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
        flex-direction: column;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
        flex-direction: column;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
        flex-direction: column;

    }

    .xs\:hide {
        display: none;
    }
}

@media (max-width: 480px) {
    .xxs\:show {
        display: flex;
        flex-direction: column;
    }

    .xxs\:hide {
        display: none;
    }
}

@media (max-width: 384px) {
    .tn\:show {
        display: flex;
        flex-direction: column;
    }

    .tn\:hide {
        display: none;
    }
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}

.headroom {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    will-change: transform;
    transition: transform 200ms linear;
}

.headroom--pinned {
    transform: translateY(0%);
}

.headroom--unpinned {
    transform: translateY(-100%);
}
