.catalog-page.main {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.catalog-page .mainSection {
  position: relative;
  display: flex;
  flex-direction: column;
}
.catalog-page .flexRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  margin: 0px auto;
  width: 100%;
  max-width: 1440px;
}
@media (max-width: 1199px) {
  .catalog-page .flexRow {
    flex-direction: column;
    gap: 30px 10px;
  }
}
.catalog-page .logoImage {
  position: relative;
  width: 105px;
  min-width: 0px;
  height: 105px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1199px) {
  .catalog-page .logoImage {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
    max-width: 105px;
  }
}
.catalog-page .headerRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 1285px;
  min-width: 0px;
}
@media (max-width: 1199px) {
  .catalog-page .headerRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.catalog-page .navigationRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 735.5px;
  min-width: 0px;
}
@media (max-width: 1199px) {
  .catalog-page .navigationRow {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
@media (max-width: 575px) {
  .catalog-page .navigationRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
.catalog-page .homeTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0px 0px;
  font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .homeTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .homeTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .homeTitle {
    font-size: 20px;
  }
}
.catalog-page .catalogTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0px 0px;
  font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .catalogTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .catalogTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .catalogTitle {
    font-size: 20px;
  }
}
.catalog-page .personalCabinetTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 1px;
  font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .personalCabinetTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .personalCabinetTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .personalCabinetTitle {
    font-size: 20px;
  }
}
.catalog-page .authBox {
  position: relative;
  display: flex;
  gap: 0px 94px;
  margin: 1px 0px 0px;
  width: 440px;
  min-width: 0px;
}
@media (max-width: 1199px) {
  .catalog-page .authBox {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
@media (max-width: 991px) {
  .catalog-page .authBox {
    -moz-column-gap: 32px;
    column-gap: 32px;
  }
}
@media (max-width: 575px) {
  .catalog-page .authBox {
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
}
@media (max-width: 383px) {
  .catalog-page .authBox {
    -moz-column-gap: 8px;
    column-gap: 8px;
  }
}
.catalog-page .loginTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 61px;
  font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .loginTitle {
    margin: 0px 0px 0px 32px;
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .loginTitle {
    margin: 0px 0px 0px 16px;
  }
}
@media (max-width: 479px) {
  .catalog-page .loginTitle {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .catalog-page .loginTitle {
    margin: 0px 0px 0px 8px;
  }
}
.catalog-page .registerTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 43px 0px 0px;
  font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .registerTitle {
    margin: 0px auto;
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .registerTitle {
    font-size: 20px;
  }
}
.catalog-page .catalogContentBox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1px auto 0px;
  width: 100%;
  max-width: 1440px;
  background-color: rgba(253, 217, 83, 0.349);
}
.catalog-page .catalogSectionTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 39px 0px 40px;
  font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .catalogSectionTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .catalogSectionTitle {
    font-size: 20px;
  }
}
.catalog-page .categoryRow {
  position: relative;
  display: flex;
  gap: 0px 13px;
  margin: 30px auto 36px;
  width: 99.72%;
  max-width: 1436px;
}
@media (max-width: 1199px) {
  .catalog-page .categoryRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 13px;
  }
}
.catalog-page .categoryCol {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 3.5px 0px 2.5px;
  width: 718px;
  min-width: 0px;
  padding-left: 50px;
}
@media (max-width: 1199px) {
  .catalog-page .categoryCol {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
    padding-left: 50px;
  }
}
.catalog-page .relationshipCategoryCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px 0px;
  margin: 0px 4px 0px 0px;
}
.catalog-page .relationshipTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .relationshipTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .relationshipTitle {
    font-size: 20px;
  }
}
.catalog-page .relationshipSubCategoryRow {
  position: relative;
  display: flex;
  gap: 0px 1px;
  width: 100%;
}
@media (max-width: 575px) {
  .catalog-page .relationshipSubCategoryRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 1px;
  }
}
.catalog-page .familyColleaguesGroupTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 383px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .familyColleaguesGroupTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .familyColleaguesGroupTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .familyColleaguesGroupTitle {
    font-size: 20px;
  }
}
.catalog-page .friendsRelativesGroupTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 330px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .friendsRelativesGroupTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .friendsRelativesGroupTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .friendsRelativesGroupTitle {
    font-size: 20px;
  }
}
.catalog-page .nutritionCategoryCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px 0px;
  margin: 24px 2px 0px;
}
.catalog-page .nutritionTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .nutritionTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .nutritionTitle {
    font-size: 20px;
  }
}
.catalog-page .nutritionSubCategoryRow {
  position: relative;
  display: flex;
  gap: 0px 1px;
  width: 100%;
}
@media (max-width: 1399px) {
  .catalog-page .nutritionSubCategoryRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 1px;
  }
}
.catalog-page .carbWithdrawalVegetarianTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 383px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 1399px) {
  .catalog-page .carbWithdrawalVegetarianTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .catalog-page .carbWithdrawalVegetarianTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .carbWithdrawalVegetarianTitle {
    font-size: 20px;
  }
}
.catalog-page .fastingDaysIntervalFastingTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 330px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 1399px) {
  .catalog-page .fastingDaysIntervalFastingTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .catalog-page .fastingDaysIntervalFastingTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .fastingDaysIntervalFastingTitle {
    font-size: 20px;
  }
}
.catalog-page .businessCategoryCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px 0px;
  margin: 49.5px 2px 0px;
}
.catalog-page .businessTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .businessTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .businessTitle {
    font-size: 20px;
  }
}
.catalog-page .businessSubCategoryRow {
  position: relative;
  display: flex;
  gap: 0px 1px;
  width: 100%;
}
@media (max-width: 575px) {
  .catalog-page .businessSubCategoryRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 1px;
  }
}
.catalog-page .financialCeilingGoalAchievementTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 383px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .financialCeilingGoalAchievementTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .financialCeilingGoalAchievementTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .financialCeilingGoalAchievementTitle {
    font-size: 20px;
  }
}
.catalog-page .resourceStateBankruptcyTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 330px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .resourceStateBankruptcyTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .resourceStateBankruptcyTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .resourceStateBankruptcyTitle {
    font-size: 20px;
  }
}
.catalog-page .psychIssuesCategoryCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px 0px;
  margin: 48.5px 0px 0px 4px;
}
.catalog-page .psychIssuesTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .psychIssuesTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .psychIssuesTitle {
    font-size: 20px;
  }
}
.catalog-page .psychIssuesSubCategoryRow {
  position: relative;
  display: flex;
  gap: 0px 1px;
  width: 100%;
}
@media (max-width: 575px) {
  .catalog-page .psychIssuesSubCategoryRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 1px;
  }
}
.catalog-page .emotionalBurnoutDepressionTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 383px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .emotionalBurnoutDepressionTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .emotionalBurnoutDepressionTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .emotionalBurnoutDepressionTitle {
    font-size: 20px;
  }
}
.catalog-page .phobiasNegativeEmotionsBreakupTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 330px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .phobiasNegativeEmotionsBreakupTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .phobiasNegativeEmotionsBreakupTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .phobiasNegativeEmotionsBreakupTitle {
    font-size: 20px;
  }
}
.catalog-page .healthCategoryCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px 0px;
  margin: 24.5px 4px 0px 0px;
}
.catalog-page .healthTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .healthTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .healthTitle {
    font-size: 20px;
  }
}
.catalog-page .healthSubCategoryRow {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px 1px;
  width: 100%;
}
@media (max-width: 575px) {
  .catalog-page .healthSubCategoryRow {
    flex-direction: column;
    gap: 30px 1px;
  }
}
.catalog-page .alcoholismVirusDiseasesTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 383px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .alcoholismVirusDiseasesTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .alcoholismVirusDiseasesTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .alcoholismVirusDiseasesTitle {
    font-size: 20px;
  }
}
.catalog-page .drugAddictionDiarrheaTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 330px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .drugAddictionDiarrheaTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .drugAddictionDiarrheaTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .drugAddictionDiarrheaTitle {
    font-size: 20px;
  }
}
.catalog-page .sportsCategoryCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px 0px;
  margin: 37px 2px 0px;
}
.catalog-page .sportsTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .sportsTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .sportsTitle {
    font-size: 20px;
  }
}
.catalog-page .sportsSubCategoryRow {
  position: relative;
  display: flex;
  gap: 0px 1px;
  width: 100%;
}
@media (max-width: 575px) {
  .catalog-page .sportsSubCategoryRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 1px;
  }
}
.catalog-page .injuryMotivationVictoryTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 383px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .injuryMotivationVictoryTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .injuryMotivationVictoryTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .injuryMotivationVictoryTitle {
    font-size: 20px;
  }
}
.catalog-page .bullyingEnvyRivalsTitle {
  position: relative;
  display: flex;
  align-items: center;
  width: 330px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .bullyingEnvyRivalsTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .bullyingEnvyRivalsTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .bullyingEnvyRivalsTitle {
    font-size: 20px;
  }
}
.catalog-page .testsContentBox {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 678px; 
  height: min-content;
  min-width: 0px;
  background-size: 0vw;
  background-color: rgba(253, 217, 83, 0.298);
  box-shadow: 7px 7px 4px 0px rgba(0, 0, 0, 0.498);

}
@media (max-width: 1199px) {
  .catalog-page .testsContentBox {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
    font-size: 3vw;
  }
}
.catalog-page .testsCategoryCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20.5px 0px 14px;
}
.catalog-page .testsTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
@media (max-width: 991px) {
  .catalog-page .testsTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .testsTitle {
    font-size: 20px;
  }
}
.catalog-page .relationshipTestRow {
  position: relative;
  display: flex;
  gap: 0px 3px;
  margin: 39.5px 0px 0px;
  width: 94.84%;
}
@media (max-width: 575px) {
  .catalog-page .relationshipTestRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 3px;
  }
}
.catalog-page .relationshipTestTitle {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1.5px 0px 0px;
  width: 420px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .relationshipTestTitle {
    font-size: 22px;
  }
}
@media (max-width: 575px) {
  .catalog-page .relationshipTestTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 479px) {
  .catalog-page .relationshipTestTitle {
    font-size: 20px;
  }
}
.catalog-page .relationshipTestButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 1.5px;
  min-width: 220px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: #ffcb3c;
  border-radius: 14.35px 14.35px 14.35px 14.35px;
  padding: 2px 32px 2px 32px;
  letter-spacing: -0.31px;
}
@media (max-width: 575px) {
  .catalog-page .relationshipTestButton {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.catalog-page .nutritionTestRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 104.5px 0px 0px;
  width: 94.69%;
}
@media (max-width: 575px) {
  .catalog-page .nutritionTestRow {
    margin: 80px 0px 0px;
  }
}
@media (max-width: 383px) {
  .catalog-page .nutritionTestRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 8px;
    margin: 50px 0px 0px;
  }
}
.catalog-page .nutritionTestTitle {
  position: relative;
  display: flex;
  align-items: center;
  margin: 3px 0px 2px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .nutritionTestTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .nutritionTestTitle {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .catalog-page .nutritionTestTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.catalog-page .nutritionTestButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 219px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: #ffcb3c;
  border-radius: 14.35px 14.35px 14.35px 14.35px;
  padding: 2px 32px 2px 32px;
  letter-spacing: -0.31px;
}
@media (max-width: 383px) {
  .catalog-page .nutritionTestButton {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.catalog-page .businessTestRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 111px 0px 0px;
  width: 94.84%;
}
@media (max-width: 575px) {
  .catalog-page .businessTestRow {
    margin: 80px 0px 0px;
  }
}
@media (max-width: 383px) {
  .catalog-page .businessTestRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 8px;
    margin: 50px 0px 0px;
  }
}
.catalog-page .businessTestTitle {
  position: relative;
  display: flex;
  align-items: center;
  margin: 4px 0px 1px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .businessTestTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .businessTestTitle {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .catalog-page .businessTestTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.catalog-page .businessTestButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: #ffcb3c;
  border-radius: 14.35px 14.35px 14.35px 14.35px;
  padding: 1.5px 32px 1.5px 32px;
  letter-spacing: -0.31px;
}
@media (max-width: 383px) {
  .catalog-page .businessTestButton {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.catalog-page .psychIssuesTestRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 140px 0px 0px;
  width: 94.84%;
}
@media (max-width: 1399px) {
  .catalog-page .psychIssuesTestRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 10px;
  }
}
@media (max-width: 575px) {
  .catalog-page .psychIssuesTestRow {
    margin: 80px 0px 0px;
  }
}
@media (max-width: 383px) {
  .catalog-page .psychIssuesTestRow {
    margin: 50px 0px 0px;
  }
}
.catalog-page .psychIssuesTestTitle {
  position: relative;
  display: flex;
  align-items: center;
  margin: 3px 0px 2px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 1399px) {
  .catalog-page .psychIssuesTestTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
@media (max-width: 991px) {
  .catalog-page .psychIssuesTestTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .psychIssuesTestTitle {
    font-size: 20px;
  }
}
.catalog-page .psychIssuesTestButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: #ffcb3c;
  border-radius: 14.35px 14.35px 14.35px 14.35px;
  padding: 1.5px 32px 1.5px 32px;
  letter-spacing: -0.31px;
}
@media (max-width: 1399px) {
  .catalog-page .psychIssuesTestButton {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.catalog-page .healthTestRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 115px 0px 0px;
  width: 94.54%;
}
@media (max-width: 575px) {
  .catalog-page .healthTestRow {
    margin: 80px 0px 0px;
  }
}
@media (max-width: 383px) {
  .catalog-page .healthTestRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 8px;
    margin: 50px 0px 0px;
  }
}
.catalog-page .healthTestTitle {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0.5px 0px 2.5px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .healthTestTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .healthTestTitle {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .catalog-page .healthTestTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.catalog-page .healthTestButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 218px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: #ffcb3c;
  border-radius: 14.35px 14.35px 14.35px 14.35px;
  padding: 1.5px 32px 1.5px 32px;
  letter-spacing: -0.31px;
}
@media (max-width: 383px) {
  .catalog-page .healthTestButton {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.catalog-page .sportsTestRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 115px 0px 0px;
  width: 94.69%;
}
@media (max-width: 575px) {
  .catalog-page .sportsTestRow {
    margin: 80px 0px 0px;
  }
}
@media (max-width: 383px) {
  .catalog-page .sportsTestRow {
    flex-direction: column;
    align-items: center;
    gap: 30px 8px;
    margin: 50px 0px 0px;
  }
}
.catalog-page .sportsTestTitle {
  position: relative;
  display: flex;
  align-items: center;
  margin: 1.5px 0px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
@media (max-width: 991px) {
  .catalog-page .sportsTestTitle {
    font-size: 22px;
  }
}
@media (max-width: 479px) {
  .catalog-page .sportsTestTitle {
    font-size: 20px;
  }
}
@media (max-width: 383px) {
  .catalog-page .sportsTestTitle {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
  }
}
.catalog-page .sportsTestButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 219px;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: #ffcb3c;
  border-radius: 14.35px 14.35px 14.35px 14.35px;
  padding: 1.5px 32px 1.5px 32px;
  letter-spacing: -0.31px;
}
@media (max-width: 383px) {
  .catalog-page .sportsTestButton {
    margin-top: unset;
    margin-bottom: unset;
    width: 100%;
    min-width: unset;
  }
}
.catalog-page .addTestButton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 38px auto 0px;
  width: 219px;
  max-width: 100%;
  font: 600 24px/1.04 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: #ffcb3c;
  border-radius: 14.35px 14.35px 14.35px 14.35px;
  padding: 2px 20px 2px 20px;
  letter-spacing: -0.31px;
}



@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
    align-items: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.page-header {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.sticking {
    margin: 0 !important;
    z-index: 10000 !important;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .xxs\:show {
        display: none;
    }

    .tn\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
        flex-direction: column;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
        flex-direction: column;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
        flex-direction: column;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
        flex-direction: column;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
        flex-direction: column;

    }

    .xs\:hide {
        display: none;
    }
}

@media (max-width: 480px) {
    .xxs\:show {
        display: flex;
        flex-direction: column;
    }

    .xxs\:hide {
        display: none;
    }
}

@media (max-width: 384px) {
    .tn\:show {
        display: flex;
        flex-direction: column;
    }

    .tn\:hide {
        display: none;
    }
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}


.headroom {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}