.landing.main {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.landing .featuresSection {
  position: relative;
  display: flex;
  flex-direction: column;
}
.landing .introContentBox {
  position: absolute;
  top: 6px;
  left: 7px;
  display: flex;
  flex-direction: column;
  width: 1437px;
  height: 3339px;
  background-color: white;
}
.landing .introImage {
  position: absolute;
  top: 853px;
  left: 1028px;
  width: 80px;
  height: 80px;
}
.landing .featuresFlexRow {
  position: absolute;
  top: 839px;
  left: 4px;
  display: flex;
  gap: 0px 4px;
  width: 1428px;
  height: 106px;
}
.landing .featureItem {
  position: relative;
  display: flex;
  gap: 0px 2px;
  margin: 0px 0px 10px;
  width: 347px;
  min-width: 0px;
}
.landing .featureImage {
  position: relative;
  width: 83px;
  min-width: 0px;
  height: 96px;
}
.landing .featureHighlight {
  position: relative;
  display: flex;
  align-items: center;
  margin: 42px 0px 34px;
  min-width: 0px;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.41px;
}
.landing .featureItem1 {
  position: relative;
  display: flex;
  gap: 0px 1px;
  margin: 9px 0px 0px;
  width: 282px;
  min-width: 0px;
}
.landing .featureImage1 {
  position: relative;
  width: 97px;
  min-width: 0px;
  height: 97px;
}
.landing .featureHighlight1 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 26px 0px 31px;
  width: 184px;
  min-width: 0px;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  letter-spacing: -0.31px;
}
.landing .featureItem2 {
  position: relative;
  display: flex;
  gap: 0px 2px;
  margin: 9px 0px 0px;
  width: 378px;
  min-width: 0px;
}
.landing .featureHighlight2 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 37px 0px 40px;
  min-width: 0px;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  letter-spacing: -0.31px;
}
.landing .featureItem3 {
  position: relative;
  display: flex;
  gap: 0px 2px;
  margin: 4px 0px 15px;
  width: 407px;
  min-width: 0px;
}
.landing .featureImage2 {
  position: relative;
  width: 101px;
  min-width: 0px;
  height: 87px;
}
.landing .featureHighlight3 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 46px 0px 21px;
  min-width: 0px;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  letter-spacing: -0.31px;
}
.landing .whyUsFlexCol {
  position: absolute;
  top: 1054px;
  left: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px 0px;
  width: 1272px;
  height: 558px;
}
.landing .sectionTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 36.6% 0px auto;
  width: 232px;
  font: 400 36px/1.25 "Merriweather", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .detailsFlexRow {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px 25px;
}
.landing .detailItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px 9px;
  width: 662px;
  min-width: 0px;
}
.landing .detailImage {
  position: relative;
  width: 211px;
  min-width: 0px;
}
.landing .detailText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 442px;
  min-width: 0px;
}
.landing .detailTitle {
  position: relative;
  display: flex;
  align-items: center;
  font: 500 24px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  letter-spacing: -0.31px;
}
.landing .detailTitle1 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 78px 0px 0px;
  width: 92.76%;
  font: 500 24px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  letter-spacing: -0.31px;
}
.landing .detailTitle2 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 89px 0px 0px;
  width: 90.05%;
  font: 500 24px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  letter-spacing: -0.31px;
}
.landing .detailItem1 {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0px 16px;
  width: 585px;
  min-width: 0px;
}
.landing .detailImage1 {
  position: relative;
  width: 178px;
  min-width: 0px;
}
.landing .detailText1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 391px;
  min-width: 0px;
}
.landing .detailTitle3 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 105px 0px 0px;
  width: 89%;
  font: 500 24px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  letter-spacing: -0.31px;
}
.landing .detailTitle4 {
  position: relative;
  display: flex;
  align-items: center;
  margin: 85px 35px 0px 0px;
  font: 500 24px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  letter-spacing: -0.31px;
}
.landing .exampleContentBox {
  position: absolute;
  top: 1721px;
  left: -7px;
  display: flex;
  flex-direction: column;
  width: 1444px;
  height: 457px;
  background: var(--src) center center/100% 100% no-repeat;
}
.landing .exampleFlexCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 95px 0px;
  margin: 71px auto 166.5px;
  width: 86.29%;
}
.landing .sectionTitle1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 36px/1.25 "Merriweather", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .exampleStepsRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  width: 98.31%;
}
.landing .exampleStepItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0px;
  margin: 0px 0px 9px;
  width: 259px;
  min-width: 0px;
}
.landing .exampleStepTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .exampleStepDescription {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .exampleStepItem1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px 0px;
  margin: 1px 0px 0px;
  width: 284px;
  min-width: 0px;
}
.landing .exampleStepDescription1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .exampleStepItem2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px 0px;
  margin: 2.5px 0px 4px;
  width: 274px;
  min-width: 0px;
}
.landing .exampleStepItem3 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px 0px;
  margin: 1px 0px 6.5px;
  width: 280px;
  min-width: 0px;
}
.landing .benefitsFlexRow {
  position: absolute;
  bottom: 24px;
  left: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 1233px;
  height: 524px;
}
.landing .benefitItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0px;
  margin: 0px 0px 5px;
  width: 331px;
  height: 519px;
}
.landing .benefitImage {
  position: relative;
  margin: 0px 3px 0px 8px;
  width: 320px;
  height: 320px;
}
.landing .benefitText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 21px 0px;
  width: 331px;
  height: 179px;
}
.landing .benefitTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 11px 0px 15px;
  width: 305px;
  height: 58px;
  font: 500 24px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .benefitHighlight {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 331px;
  height: 100px;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .benefitItem1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px 0px;
  width: 369px;
  height: 524px;
}
.landing .benefitImage1 {
  position: relative;
  margin: 0px 16px 0px 33px;
  width: 320px;
  height: 320px;
}
.landing .benefitText1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 23px 0px;
  width: 369px;
  height: 181.5px;
}
.landing .benefitTitle1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;
  width: 339px;
  height: 58px;
  font: 500 24px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .benefitHighlight1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 369px;
  height: 100px;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .benefitItem2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px 0px;
  margin: 1px 0px;
  width: 334px;
  height: 522px;
}
.landing .benefitImage2 {
  position: relative;
  margin: 0px 5px 0px 9px;
  width: 320px;
  height: 320px;
}
.landing .benefitText2 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px 0px;
  width: 334px;
  height: 197.5px;
}
.landing .benefitTitle2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 16px 0px 0px;
  width: 318px;
  height: 87px;
  font: 500 24px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .benefitHighlight2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 4px;
  width: 330px;
  height: 100px;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .footerFlexRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 0px 24px 3239px 10px;
}
.landing .footerImage {
  position: relative;
  width: 110px;
  min-width: 0px;
  height: 100px;
}
.landing .footerLinksRow {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 44px 0px 34.5px;
  width: 1231.5px;
  min-width: 0px;
}
.landing .footerLinkGroup {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 0.5px 0px 0px;
  width: 711px;
  min-width: 0px;
}
.landing .footerLink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 1px;
  min-width: 0px;
  font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .footerLink1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px 0px 0px;
  min-width: 0px;
  font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .footerLinkGroup1 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 0px 0px 1px;
  width: 313.5px;
  min-width: 0px;
}
.landing .footerLink2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0.5px;
  min-width: 0px;
  font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
.landing .footerLink3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5px 0px 0px;
  min-width: 0px;
  font: 600 24px/0.83 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .securitySection {
  position: absolute;
  bottom: 545px;
  left: -6px;
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 576px;
}
.landing .securityRect {
  position: relative;
  min-height: 576px;
  background-color: white;
}
.landing .securityFlexRow {
  position: absolute;
  top: 60.5px;
  left: 90px;
  display: flex;
  gap: 0px 24px;
  width: 1335px;
  height: 377.5px;
}
.landing .securityImage {
  position: relative;
  margin: 79.5px 0px 0px;
  width: 265px;
  min-width: 0px;
}
.landing .securityTextCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 75px 0px;
  margin: 0px 0px 54px;
  width: 1046px;
  min-width: 0px;
}
.landing .securityTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1124px;
  height: 45px;
  font: 400 36px/1.25 "Merriweather", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .securityDescription {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 43px 0px 110px;
  width: 971px;
  height: 203px;
  font: 500 24px/1.2 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .ctaContentBox {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 107px 7px 2501px 6px;
  background: var(--src) center center/100% 100% no-repeat;
}
.landing .ctaContentBoxInner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 82px 5.73% 55px auto;
  width: 497px;
  background-color: rgba(217, 217, 217, 0.4);
}
.landing .ctaFlexCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px 0px;
  margin: 83px 5px 56px 0px;
}
.landing .ctaTextCol {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 46px 0px;
  width: 100%;
}
.landing .ctaTitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 400 36px/1.25 "Merriweather", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .ctaSubtitle {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96.14%;
  font: 500 20px/1.45 "Montserrat", Helvetica, Arial, serif;
  color: #403f4c;
  text-align: center;
  letter-spacing: -0.31px;
}
.landing .ctaButton {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  width: 286px;
  max-width: 100%;
  font: 600 16px/1.25 "Montserrat", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  background-color: #fde79c;
  border-radius: 20px 20px 20px 20px;
  padding: 18px 8px 18px 8px;
}

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0")
      format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0")
      format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0")
      format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0")
      format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular")
      format("svg");
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, hr, p, figure {
    display: block;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    border-width: 0;
    opacity: 1;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
}

li {
    display: block;
}

button {
    background-color: transparent;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
    align-items: normal;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.page-header {
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.sticking {
    margin: 0 !important;
    z-index: 10000 !important;
}

@media (max-width: 99999px) {
    .max\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:show {
        display: none;
    }

    .xxl\:show {
        display: none;
    }

    .xl\:show {
        display: none;
    }

    .lg\:show {
        display: none;
    }

    .md\:show {
        display: none;
    }

    .sm\:show {
        display: none;
    }

    .xs\:show {
        display: none;
    }

    .xxs\:show {
        display: none;
    }

    .tn\:show {
        display: none;
    }

    .max\:hide {
        display: none;
    }
}

@media (max-width: 2999px) {
    .xxxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxxl\:hide {
        display: none;
    }
}

@media (max-width: 1919px) {
    .xxl\:show {
        display: flex;
        flex-direction: column;
    }

    .xxl\:hide {
        display: none;
    }
}

@media (max-width: 1399px) {
    .xl\:show {
        display: flex;
        flex-direction: column;
    }

    .xl\:hide {
        display: none;
    }
}

@media (max-width: 1199px) {
    .lg\:show {
        display: flex;
        flex-direction: column;
    }

    .lg\:hide {
        display: none;
    }
}

@media (max-width: 991px) {
    .md\:show {
        display: flex;
        flex-direction: column;
    }

    .md\:hide {
        display: none;
    }
}

@media (max-width: 767px) {
    .sm\:show {
        display: flex;
        flex-direction: column;
    }

    .sm\:hide {
        display: none;
    }
}

@media (max-width: 575px) {
    .xs\:show {
        display: flex;
        flex-direction: column;

    }

    .xs\:hide {
        display: none;
    }
}

@media (max-width: 480px) {
    .xxs\:show {
        display: flex;
        flex-direction: column;
    }

    .xxs\:hide {
        display: none;
    }
}

@media (max-width: 384px) {
    .tn\:show {
        display: flex;
        flex-direction: column;
    }

    .tn\:hide {
        display: none;
    }
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.headroom {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}
